body {
    padding-top: 20px;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.btn-outline-primary {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
}

  
  header {
    background-color: #211e1e;
    color: white;
    padding: 10px 0;
    border-bottom: solid 2px #ffb91d;
  }
  
  header h1 {
    margin: 0;
    padding-left: 20px;
    display: inline-block;
  }
  header h2 {
    margin: 0;
    padding-left: 20px;
    display: inline-block;
    background-color: #ffb91d;
  }
  
  header .header-buttons {
    float: right;
    padding-right: 20px;
  }
  
  header .header-buttons button {
    margin-left: 10px;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .accordion-button {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #007bff;
    color: #fff;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  /* Appliquer une couleur de fond spéciale pour les champs readonly */
  input[readonly] {
    background-color: #e0e0e0 !important; /* Couleur de fond gris clair */
    color: #000; /* Couleur du texte */
  }
  
  /* Classe pour couleur de tolérance dans la plage acceptable */
  .bg-tolerance-ok {
    background-color: #28a745 !important; /* Vert */
    color: white;
  }
  
  /* Classe pour couleur de tolérance en dehors de la plage acceptable */
  .bg-tolerance-wrong {
    background-color: #dc3545 !important; /* Rouge */
    color: white;
  }
  
  /* Classe pour couleur de tolérance quand aucune valeur n'est entrée */
  .bg-tolerance-default {
    background-color: #e0e0e0 !important; /* Gris */
    color: white;
  }
  
